

<div class="row" id="profile">

    <div class="col-4 info">

        <div class="div_img">
            <img class="profile_photo" src="../../../assets/imgs/photoLinkedln.jpeg" width="170px" height="170px" alt="my_photo">
        </div>
        <h4 class="name">{{ data.name }}</h4>
        <h4 class="lastname">{{ data.lastname }}</h4>
        <div class="email gral">
            <img src="../../../assets/svg/svg-email.svg" width="20px" height="20px" class="filter-blue"  alt="emailIcon">
            <p style="font-size:small;">{{ data.email }}</p>
        </div>
        <div class="mobile gral">
            <img src="../../../assets/svg/mobile.svg" width="20px" height="20px" class="filter-blue"  alt="mobileIcon">
            <p style="font-size:small;">{{ data.mobile }}</p>
        </div>
        <div class="github gral">
            <i style="font-size: 1.2rem;" class="bi bi-github"></i>
            <p style="font-size:small;">{{ data.github }}</p>
        </div>
        <div class="linkedin gral">
            <i style="font-size: 1.1rem;" class="bi bi-linkedin"></i>
            <p style="font-size:small;">{{ data.linkedin }}</p>
        </div>

        <!-- This fix my linkedin large link -->
        <!-- <div class="linkedin gral">
            <i style="font-size: 1.1rem;" class="bi bi-linkedin"></i>
            <div style="font-size: small;">
                <p>https://www.linkedin.com/in/onier</p>
                <p>-crestelo-ojeda-513b23262/</p>
            </div>
        </div> -->

        <div class="hr"></div>

        <div class="role">
            <h5 class="title-left">Role</h5>
            <p>* {{data.role}}</p>
            <p *ngIf="data.suggestion">* Suggestion: {{data.suggestion}}</p>
        </div>
        <div class="hr"></div>

        <div class="tags">
            <h5 class="title-left">Technologies</h5>
            <ul *ngIf="data.skills">
                <li *ngFor="let skill of data.skills">{{ skill }}</li>
            </ul>
            <ul *ngIf="data.tag">
                <li *ngFor="let tag of data.tag">{{ tag }}</li>
            </ul>
        </div>

        <div class="hr"></div>

        <div class="disponibility">
            <h5 class="title-left">Disponibility</h5>
            <li>{{data.disponibility}}</li>
        </div>

        <div class="hr"></div>


    </div>

    <div class="col-8 main">

        <div class="description pad-gral">
            <h5 class="title">About me  ------------------------ <span></span> </h5>
            <p class="p-general">{{data.description}}</p>
        </div>

        <div class="divEducation pad-gral">
            <h5 class="title">Education (2016-2021)  ------------------------ <span></span> </h5>
            <div class="divInfo">
                <h6 class="title-exp-edu">{{data.simple_edu}} <span class="opacity">-university</span> </h6>
                <h6 class="title-exp-edu">{{data.degree}} <span class="opacity">-degree</span> </h6>
                <h6 class="title-exp-edu">{{data.thesis}} <span class="opacity">-thesis</span> </h6>
            </div>
        </div>

        <div class="divExperience pad-gral">
            <h5 class="title">Experience(+3years)  ------------------------ <span></span> </h5>
            <div *ngFor="let item of data.experience, let i = index" class="divInfo">
                <h6 class="title-exp-edu">{{ item.input | uppercase}} <span class="opacity">{{ i < 3 ? '-freelancer' : (i < 6) ? '-personal project' : '-company' }}</span> </h6>
                <p class="p-general">{{ item.desc }}</p>
            </div>
        </div>

    </div>

</div>

<div class="divPrinter">
    <img src="../../../assets/svg/printer-fill.svg" 
    width="40px"  
    height="40px" 
    class="filter-blue btn_print" 
    alt="printer"
    (click)="printProfile()">
</div>


<!-- --base-href
--output-path -->
<!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi eaque quidem in repellat tenetur. Dolorum ipsam perspiciatis nesciunt facere illo ea maiores corrupti alias, voluptatem dignissimos saepe sequi enim consequatur.</p> -->