
<header  class="generalHeader">
    <h1 class="title">Creator-CV</h1>
</header>

<main>

    <section class="beginning">

        <div class="divImgPortrait">
            <img class="imgPortrait" src="../../../../assets/imgs/full.jpeg" alt="firstImg" width="50%" height="20%">
        </div>
        <div class="divTextPortrait">
            <div class="textPortrait">
                <h2>What is CV Creator ?</h2>
                <p class="p-general">CV Creator is a single web app to create and edit our Curriculum Vitae in the easiest way.
                    This is useful to apply for many type of jobs in any factory, just filling out a form you 
                    get your CV ready to apply and save in your portfolio.
                </p>
            </div>
        </div>

    </section>

</main>

