<div class="card">
	<div class="card-header">
		<p class="text-center mb-4 text-info"> {{data}} </p>
	</div>
	<div class="card-body d-flex justify-content-center">
		<button class="btn btn-warning" (click)="closePopUp(true)">Accept</button>
		<button class="btn btn-info offset-3" (click)="closePopUp(false)">Cancel</button>
	</div>
</div>


<!-- <h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  Would you like to delete cat.jpeg?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->


