/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}


.filter-red {
    // filter: invert(20%) sepia(23%) saturate(7321%) hue-rotate(351deg) brightness(130%) contrast(82%);
    filter: invert(26%) sepia(80%) saturate(3057%) hue-rotate(345deg) brightness(86%) contrast(98%);
    margin-right: 5px;
}

.filter-blue {
    filter: invert(24%) sepia(61%) saturate(6206%) hue-rotate(187deg) brightness(98%) contrast(100%);
}

.p-general {
    text-align: justify;
}